* {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 13px;
}

h1 {
  margin-left: 28px;
  font-size: 26px;
  font-family: Arial;
  margin-top: -6px;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
