.logo-container {
  width: 582px;
}

.logo-container input {
  width: 262px;
  height: 12px;
  padding: 9px;
  border: none;
  background: url('../images/Search\ Bar.png');
  background-repeat: no-repeat;
  background-position: center;
}

.logo-container .search-bar {
  margin-top: 30px;
}

.search-bar button {
  width: 55px;
  border: none;
  font-size: 12px;
  padding: 10px;
  color: white;
  background: url('../images/Search\ Button.png');
  background-repeat: no-repeat;
  background-position: center;
}

.search-bar button:hover {
  cursor: pointer;
}

.user-info {
  text-align: right;
  padding: 25px 0px;
}

.user-info p {
  margin-top: 4px;
}

.nav {
  background: #f5f5f5;
  padding: 12px 0px;
}

.nav ul li {
  display: inline;
}

.nav-menu li {
  margin: 8px;
}

.nav .notification {
  font-size: 11px;
}

.notification li {
  margin: 0;
}

.notification li:first-child {
  margin-right: 30px;
}

.notification img {
  margin-right: 5px;
}
