.logo-container {
  width: 582px;
}

.logo-container input {
  width: 262px;
  height: 12px;
  padding: 9px;
  border: none;
  background: url('../images/Search\ Bar.png');
  background-repeat: no-repeat;
  background-position: center;
}

.logo-container .search-bar {
  margin-top: 32px;
}

.search-bar button {
  width: 54px;
  height: 24px;
  font-weight: bold;
  border: none;
  font-size: 12px;
  /* padding: 10px; */
  color: white;
  background: url('../images/Search\ Button.png');
  background-repeat: no-repeat;
  background-position: center;
}

.search-bar button:hover {
  cursor: pointer;
}

.user-info {
  text-align: right;
  padding: 25px 0px;
}

.user-info p {
  margin-top: 4px;
  font-weight: bold;
}

.nav {
  background: #f5f5f5;
  padding: 12px 0px;
}

.nav ul li {
  display: inline;
  font-weight: bold;
}

.nav-menu li {
  margin: 8px;
  letter-spacing: 1px;
}

.nav .notification {
  font-size: 11px;
}

.notification li {
  margin: 0;
}

.notification li:first-child {
  margin-right: 30px;
}

.notification img {
  margin-right: 5px;
}

.sidebar {
  width: 194px;
  background-color: #f5f5f5;
}

.main ul li {
  list-style: none;
  padding: 10px 0px;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 14px;
}

.sidebar li span:first-child {
  width: 152px;
}

.list-heading {
  color: #ffffff;
  background-color: #2fc1da;
  padding: 11px 0px;
}

.list-heading h2 {
  font-size: 14px;
}

.right-sidebar li {
  padding: 12px 0px;
}
